* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: url("img/freedom.jpg");
  padding: 20px;
  width: 100%;
  height: 400px;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan.highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 6px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #7e7e7e
}

.plan.highlighted .plan__title {
  color: white;
}

.plan.highlighted .plan__price {
  color: #0e4f1f;
}

.plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan ul li {
  margin: 8px 0;
}

.plan button {
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
  background: #0e4f1f;
  color: white;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid #7e7e7e;
  cursor: pointer;
}

.plan button:hover,
.plan button:active {
  color: #0e4f1f;
  background: white;
}

.plan button:focus {
  outline: none;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px 0;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

#key-features ul {
  padding: 0;
  margin: 0;
}

#key-features li {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: calc(32%);
}

#key-features li > div {
  display: inline-block;
  height: 140px;
  width: 140px;
  background: #ffcede;
  border: 2px solid #424242;
  border-radius: 50%;
}

/* Combinator: meaning, any h1 under #product-overview */
#product-overview h1 {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  font-weight: bold;
  color: #0e4f1f;
  text-decoration: none;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main_nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin-left: 10px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: white 4px solid;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}