#product-overview {
  background: url("img/freedom.jpg");
  margin-top: 43px;
  width: 100%;
  height: 400px;
  position: relative;
}

#product-overview h1 {
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.plan__list {
  width: 95%;
  margin: auto;
  text-align: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan.highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 6px;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #7e7e7e;
}

.plan.highlighted .plan__title {
  color: white;
}

.plan.highlighted .plan__price {
  color: #0e4f1f;
}

.plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan ul li {
  margin: 8px 0;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px 0;
}

#key-features .section-title {
  color: white;
  margin: 32px;
}

#key-features ul {
  padding: 0;
  margin: 0;
}

#key-features li {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 18px;
  width: calc(32%);
}

#key-features li > div {
  display: inline-block;
  height: 140px;
  width: 140px;
  background: #ffcede;
  border: 2px solid #424242;
  border-radius: 50%;
}

/* Combinator: meaning, any h1 under #product-overview */
#product-overview h1 {
  color: white;
  font-family: "Fjalla One", sans-serif;
  font-size: 30px;
}
