#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.4) 10%, transparent),
    url("img/freedom.jpg");
  /* background: linear-gradient(to right, red, blue); */
  /* background: radial-gradient(circle at top right, yellow, black); */
  background-size: cover;
  background-position: left 10% bottom 70%;
  width: 100vw;
  height: 33vh;
  position: relative;
}

#product-overview h1 {
  position: absolute;
  font-size: 1.6rem;
  color: white;
  font-family: "Fjalla One", sans-serif;
  left: 3%;
  bottom: 0;
  margin-bottom: 1rem;
}

@media (min-width: 40rem) and (min-height: 60rem) {
  #product-overview {
    height: 40vh;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}

.plan__list {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80vw;
}


@media (max-width: 43rem) {
  .plan__title, .plan__annotation {
    font-size: 0.9rem;
  }
}

@media (min-width: 40rem) {
  .plan__list {
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    margin: auto;
  }

  .plan {
    width: 30%;
    height: 28rem;
    margin: 0.5rem;
    min-width: 12rem;
    max-width: 20rem;
    justify-content: space-between;
  }

  .plan.highlighted {
    height: 32rem;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  }
}

.plan.highlighted {
  background: #19b84c;
  color: white;
}

.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  padding: 0.5rem;
  width: 60%;
  min-width: 12rem;
}

.plan__title {
  color: #0e4f1f;
}

.plan__price {
  color: #7e7e7e;
}

.plan.highlighted .plan__title {
  color: white;
}

.plan.highlighted .plan__price {
  color: #0e4f1f;
}

.plan ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan ul li {
  margin: 0.5rem 0;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#key-features {
  background: #ff5454;
  margin-top: 3rem;
  padding: 1rem 0;
}

#key-features .section-title {
  color: white;
  margin: 2rem;
}

#key-features ul {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#key-features li {
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}

@media (min-width: 40rem) {
  #key-features ul {
    flex-direction: row;
    justify-content: space-around;
    max-width: 80rem;
    margin: auto;
  }

  #key-features li {
    max-width: 20rem;
  }
}

.key-feature {
  display: inline-block;
  height: 140px;
  width: 140px;
  background: #ffcede;
  border: 2px solid #424242;
  border-radius: 50%;
}

#key-feature__customers {
  background: url("img/target_group.jpg");
  background-size: auto 100%;
  background-position: 30%;
}

#key-feature__uptime {
  background: url("img/much_reliable.jpg");
  background-size: 100%;
  background-position: 30%;
}

#key-feature__cloud {
  background: url("img/cloud_technology.jpg");
  background-size: auto 100%;
  background-position: 30%;
}

.modal {
  position: fixed;
  display: none;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal__actions {
  text-align: center;
}

.modal__action {
  border: 1px solid #0e4f1f;
  border-radius: 0.5rem;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal__action:hover,
.modal__action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal__action--negative {
  background: red;
  border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

.modal_open {
  display: block;
}
