@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Montserrat:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

main {
  margin-top: 2.75rem;
}

.backdrop {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 0 0.5rem;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.toggle-button {
  width: 3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0 0.5rem;
  margin: 0 0.5rem 0 0;
  vertical-align: middle;
}

.toggle-button:focus {
  outline: none;
}

.toggle-button__bar {
  width: 100%;
  height: 0.25rem;
  background: black;
  display: block;
  margin: 0.5rem 0;
}

.main-header__brand {
  font-weight: bold;
  color: #0e4f1f;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand > img {
  height: 2.5rem;
}

.main-nav {
  display: none;
  text-align: right;
  width: calc(100% - 122px);
  vertical-align: middle;
}

.main_nav__items {
  margin: 0;
  padding: 1rem;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin-left: 10px;
}

@media (min-width: 40rem) {
  .main-nav {
    display: inline-block;
  }

  .toggle-button {
    display: none;
  }
}

.main-nav__item a,
.mobile-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: white 0.25rem solid;
}

.main-nav__item--cta a,
.mobile-nav__item--cta a {
  color: white;
  background: #ff5454;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active,
.mobile-nav__item--cta a:hover,
.mobile-nav__item--cta a:active {
  color: #ff5454;
  background: white;
  border: none;
}

button {
  margin-top: 1rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background: #0e4f1f;
  color: white;
  font: inherit;
  font-weight: bold;
  border: 2px solid #7e7e7e;
  cursor: pointer;
}

button:hover,
button:active {
  color: #0e4f1f;
  background: white;
}

button:focus {
  outline: none;
}

.main-footer {
  background: black;
  color: white;
  width: 100%;
  padding: 0.5rem 1rem;
  margin-top: 3rem;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer li {
  display: block;
  margin: 1rem 0;
}

@media (min-width: 40rem) {
  .main-footer li {
    display: inline-block;
    margin: 0 1rem;
  }

  .toggle-button {
    display: none;
  }
}

.main-footer li > a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.main-footer li > a:hover,
.main-footer li > a:active {
  color: #ccc;
}

.mobile-nav {
  display: none;
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  background: white;
  width: 80%;
  height: 100vh;
}

.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 10% auto;
  padding: 0;
  text-align: center;
}

.mobile-nav__item {
  margin: 1rem 0;
}

.mobile-nav__item a {
  font-size: 1.5rem;
}

.open {
  display: block !important;
}
