* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  font-weight: bold;
  color: #0e4f1f;
  text-decoration: none;
  font-size: 22px;
  display: inline-block;
  height: 22px;
}

.main-header__brand > img {
  height: 100%;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 75px);
  vertical-align: middle;
}

.main_nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin-left: 10px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 2px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: white 4px solid;
}

.main-nav__item--cta a {
  color: white;
  background: #ff5454;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff5454;
  background: white;
  border: none;
}

button {
  margin-top: 15px;
  padding: 8px;
  border-radius: 8px;
  background: #0e4f1f;
  color: white;
  font: inherit;
  font-weight: bold;
  border: 1.5px solid #7e7e7e;
  cursor: pointer;
}

button:hover,
button:active {
  color: #0e4f1f;
  background: white;
}

button:focus {
  outline: none;
}

.main-footer {
  background: black;
  color: white;
  width: 100%;
  padding: 8px 16px;
  margin-top: 48px;
}

.main-footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer li {
  display: inline-block;
  margin: 0 16px;
}

.main-footer li > a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.main-footer li > a:hover,
.main-footer li > a:active {
  color: #ccc;
} 