.testimonial {
  font-size: 1.2rem;
}

.testimonial__image-container {
  width: 80%;
  max-width: 580px;
  display: block;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  transform: skewX(10deg);
  overflow: hidden;
}

.testimonial__image {
  width: 100%;
  vertical-align: top; /* whitespace removal h4x */
  transform: skewX(-10deg) scale(1.2);
}

.testimonial__info {
  text-align: right;
  padding: 0.9rem;
  display: block;
}

#customer-2.testimonial {
  text-align: right;
}

#customer-2 .testimonial__info {
  text-align: left;
}

.testimonial__name {
  margin: 0.2rem;
  color: #ff5454;
  font-size: 2rem;
}

.testimonial__subtitle {
  margin: 0;
  font-size: 0.9em;
  color: #ccc;
}

.testimonial__subtitle a {
  color: inherit;
  text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
  color: #7a7a7a;
}

.testimonial__text {
  margin: 0.2rem;
}

@media (min-width: 40rem) {
  .testimonial {
    margin: 3rem auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .testimonial__image-container {
    width: 66%;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
  }

  .testimonial__info {
    width: 30%;
  }
}