main {
  padding-top: 2em;
}

.package {
  width: 80%;
  border: 4px solid #0e4f1f;
  border-left: none;
  margin: 1em 0;
}

.package a {
  text-decoration: none;
  display: block;
  padding: 1em;
}

.package:hover,
.package:active {
  border-color: #ff1b68 !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.package h1 {
  margin-top: 2em;
  color: black;
}

.package h2 {
  color: #7e7e7e;
}

.package p {
  border: 2px solid #0e4f1f;
  color: #0e4f1f;
  background: white;
  padding: 1em;
  font-size: 18px;
}

.package.plus {
  background: rgba(45, 223, 93, 0.2);
}

.package.free {
  background: rgba(45, 223, 93, 0.05);
  float: right;
  border-left: 4px solid #0e4f1f;
  border-right: none;
  text-align: right;
}

.package.premium {
  background: #0e4f1f;
}

.package.premium h1 {
  color: white;
}

.package.premium h2 {
  color: #ccc;
}

.float-fix {
  clear: both; /* clear flots on both sides, uglyyyy */
}