main {
  padding-top: 2rem;
}

.background {
  background: url("../img/plans-background.jpg") center/cover;
  filter: grayscale(40%);
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.package {
  width: 80%;
  border: 4px solid #0e4f1f;
  border-left: none;
  margin: 1rem 0;
  position: relative;
}

.package a {
  text-decoration: none;
  display: block;
  padding: 1rem;
}

.package:hover,
.package:active {
  border-color: #ff5454 !important;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)
}

.package__title {
  margin-top: 2rem;
  color: black;
}

.package h2 {
  color: #7e7e7e;
}

.package p {
  border: 2px solid #0e4f1f;
  color: #0e4f1f;
  background: white;
  padding: 1rem;
  font-size: 18px;
}

.package.plus {
  background: rgba(197, 250, 212, 0.95);
}

.package.free {
  background: rgba(234, 251, 239, 0.95);
  float: right;
  border-left: 4px solid #0e4f1f;
  border-right: none;
  text-align: right;
}

.package.premium {
  background: #0e4f1f;
}

.package.premium h1 {
  color: white;
}

.package.premium h2 {
  color: #ccc;
}

.float-fix {
  clear: both; /* clear flots on both sides, uglyyyy */
}

.package__badge {
  padding: 0.5rem;
  margin: 1rem;
  font-size: 1rem;
  border-radius: 8px;
  background: #ff5454;
  position: absolute;
  right: 0;
  top: 0;
  display: inline-block;
  color: white;
}